:root{
    --color-sobresale: #f50;
    --color-fondo: linear-gradient(#000,#111,#222);
}
/*Spiner*/
.lds-spinner {
    color: official;
    display: none; /*inline-block*/
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--color-sobresale);
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/*---------------------------------------------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 580;
    color: var(--color-sobresale);
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 800px;
}

.main .weather{
    background: var(--color-sobresale);
    height: 40%;
    width: 100%;
}

.main .clock{
    position: relative;
    width: 100%;
    height: 50%;
    background: var(--color-fondo);
    border: 5px solid var(--color-sobresale);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .clock .date{
    font-size: 3em;
    position: absolute;
    height: 70px;
    width: 70%;
    top: -5px;
    display: flex;
    justify-content: center;
    background: #000;
    border-bottom: 5px solid var(--color-sobresale);
    border-left: 5px solid var(--color-sobresale);
    border-right: 5px solid var(--color-sobresale);

}

.main .clock .time{
    display: flex;
    font-size: 8em;
    justify-content: space-evenly;
    width: 100%;
}

@media screen and (max-width : 1080px) and (min-width : 720px){
    .main{
        width: 700px;
        height: 800px;
    }

    .main .weather, .main .clock{
        height: 38%;
        width: 95%;
    }

    .main .clock .date{
        font-size: 2.5em;
        height: 60px;
    }

    .main .clock .time{
        font-size: 6.5em;
    }
}

@media  screen and (max-width : 720px) {
    .main{
        width: 480px;
        height: 800px;
    }

    .main .weather, .main .clock{
        height: 25%;
        width: 100%;
    }

    .main .clock .date{
        font-size: 1.4em;
        height: 40px;
        width: 60%;
    }

    .main .clock .time{
        font-size: 4.3em;
    }
}

@media screen and (max-width : 480px) {
    .main{
        width: 300px;
        height: 500px;
    }

    .main .clock .date{
        font-size: 1em;
        height: 30px;
        width: 60%;
    }

    .main .clock .time{
        font-size: 3em;
    }
}

@media screen and (max-height : 600px){
    .main{
        width: 800px;
        height: 600px;
    }
}